body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e3b5b5;
}

/* Stone-Paper-Scissors Title */

.title{
    text-align: center;
    margin-top: 30px;
    color: #5d1a1a;
    font-size: 40px;
}

/* you-computer Score Board */

.score-board{
    width: 320px;
    margin: 30px auto;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #753636;
    color: white;
    border-radius: 12px;
    font-size: 28px;
    position: relative;
}

.badge{
    background: #ff5a5a;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

/* Result */

.result{
    text-align: center;
    margin-bottom: 40px;
}

.result p{
    font-size: 24px;
    color: #5d1a1a;
    font-weight: bold;
}

.container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Choice Image */

.choice-image{
    flex-basis: 100%;
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px;
}

.choice img:hover{
    transform: scale(1.08);
}

/* Stone-Paper-Scissors Buttons */

.choice button{
    background: #5d1a1a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.restart-game{
    margin-top: 30px;
}

.restart-game button{
    background: #5d1a1a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.choice button:hover{
    background: #8c2a2a;
    transform: translateY(-3px);
}

.choice button:active{
    transform: scale(0.96);
}
