*{
    background: #e3b5b5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
    box-shadow: 5px 10px 0px #0c0b0b;
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 130px 0;
    background: whitesmoke;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background: #753636;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.stone-button{
    background: #351212;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.stone-button:hover{
    background: #796060;
    color: #ffffff;
    transform: scale(1.03);
}

.paper-button{
    background: #1a5d1a;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.paper-button:hover{
    background: #2a8c2a;
    color: #ffffff;
    transform: scale(1.03);
}

.scissors-button{
    background: #5d1a1a;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.scissors-button:hover{
    background: #8c2a2a;
    color: #ffffff;
    transform: scale(1.03);
}
